:root {
    --margin: 4rem;
    --btn_color: #273752;
    --main_radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #dbd6f3;
    height: 100%;
    overflow-y: hidden;
}

main {
    border-radius: var(--main_radius);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.white-space {
    border-top-left-radius: var(--main_radius);
    border-top-right-radius: var(--main_radius);
    position: relative;
    height: 50%;
    flex-grow: 1;
    background-color: rgb(221, 221, 218);
}

.grey-space {
    border-bottom-left-radius: var(--main_radius);
    border-bottom-right-radius: var(--main_radius);
    height: 60%;
    flex-grow: 1;
    background-color: grey;
}

nav {
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    margin: 15px var(--margin);
}

nav>* {
    font-weight: 700px;
    height: 50px;
    line-height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

#logo {
    height: 30px;
}

.nav-section1,
.nav-section2 {
    display: flex;
}

.nav-section1>:nth-child(n+2),
.nav-section2>:nth-child(-n+3) {
    padding: 0 20px;
}

.brand-name {
    border-right: solid #b8b7b754;
    font-weight: 700;
}

.nav-section2>:last-child {
    font-size: 24px;
    color: white;
    border: none;
    height: 50px;
    align-self: center;
    margin-left: 5rem;
    background-color: var(--btn_color);
    padding: 0.2em 3em;
    border-radius: 15px;
    cursor: pointer;
}

#selection {
    border: none;
    font-size: 24px;
    outline: none;
    background-color: transparent;
}

#selection:focus-visible,
#selection:focus {
    border: none;
    outline: none;
}

.title {
    margin-left: var(--margin);
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.payement {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    margin-left: var(--margin);
    background-color: rgb(243, 241, 241);
    width: 35%;
    height: 30%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.payement>* {
    border: none;
    background: transparent;
    text-align: center;
    align-self: center;
    height: 70%;
}

#flag {
    position: relative;
    right: 10%;
    height: 30%;
}

#montant {
    cursor: pointer;
    border-right: rgb(187, 186, 186) solid 1px;
    padding-right: 25px;
}

#montant>p {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}

.send {
    cursor: pointer;
    color: white;
    background-color: var(--btn_color);
    border-radius: 10px;
    padding: 2px 5px;
}

.grey-space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.illustration-holder {
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 2/3;
}

.illustration {
    position: relative;
    bottom: 60px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subtext {
    position: relative;
    z-index: 3;
    margin-left: var(--margin);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
}

.side1,
.side2 {
    flex-grow: 1;
}

.side1>*,
.side2>* {
    margin-top: 10px;
}

.side1 img {
    width: 50px;
}

.side2 img {
    width: 50px;
}

.read-more {
    color: violet;
}

#pays:focus-visible {
    outline: none;
}